html, body {
    margin: 0;
    background: #eee;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #eee;
    height: 50px;
    width: 100%;
    padding: 0 20px;
}

.menu a{
    color: inherit;
    line-height: 50px;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.4s;
}
.menu a.active{
    color: aqua;
}

.content{
    margin-top: 70px;
}

.button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
  }
  .button:hover {
    cursor: pointer;
    background-color: #333;
  }
  .button:active {
    background-color: #555;
  }